<footer class="footer footer--dark">

    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-lg-2 text-right text-md-center">
                    <div class="widget widget_nav_menu">
                        <ul>
                            <li><a href="#">条款</a></li>
                            <li><a href="#">隐私</a></li>
                            <li><a href="#">广告</a></li>
                            <li><a href="#">通讯</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-1 text-md-center">
              <span class="copyright">
                &copy; 2021 联系方式 | ******@163.com <a href="http://www.dedeask.com"></a>
              </span>
                </div>
            </div>

        </div>
    </div> <!-- end bottom footer -->
</footer> <!-- end footer -->